html {
    background: #e4cee1;
}


* {
    font-family: 'Zen Maru Gothic', sans-serif;
    font-size: 16px;
    color: #000000;
    text-decoration: none;
    line-height: 23px;
}

h1 {
    margin-top: 30px;
    text-align: center;
    font-size: 100px;
    line-height: 55px;

}

h2 {
    font-size: 50px;
    font-weight: 600;
}

p{
    font-size:20px;
    line-height: 1.4;
}

.img {
    height:auto;
}

.link{
    color: #c471cf;
}

.page {
    text-align: center;
    padding: 20px;
    margin-left: 10px;
    margin-top: 50px;
}

  ol {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 5em;
    margin: 5 auto;
    max-width: 100em;
    padding: 0;
  }

  
  ol.day-grid li {
    display: grid;
    align-items: center;
    justify-content: center;
    list-style: none;
    height: 12vw;
    max-height: 125px;
  }

  .boutonCal {
    display: grid;
    align-items: center;
    justify-content: center;
    list-style: none;
    color: white;
    font-weight: bolder;
    background-color: #f15050;
    border: 10px solid #74c790;
    height: 120px;
    width:180px;
    font-size: 60px;
  }

  .boutonCal:hover{
    background-color: #c03535;
  }

  .calendar {
    position: relative;
    top:50px;
  }


body {
    margin: 0;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #139aed;
}
